@import "../../styles/colors.scss";
@import "../../styles/styles.scss";

.contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button {
    background-color: $color--blue;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    color: #fff;
    text-decoration: none;
    display: flex;  
    justify-content: center;
      
    &:hover {
        background-color: lighten($color--blue, 10%);
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}
