@import "../../styles/colors.scss";
@import "../../styles/styles.scss";

.main {
    display: flex;
    justify-content: space-between;
    height: 90 * $gridSize;
    align-items: center;
    background-color: #0075FF;
    margin: 0 -64px;
    padding: 0 8 * $gridSize;
    color: #fff;
    margin-top: -624px;


    &__left-end {
        z-index: 2 !important;
        max-width: 100 * $gridSize ;

        &__title {
            font-size: 5 * $gridSize;
            font-weight: 700;
        }

        &__sub-title {
            font-size: 3 * $gridSize;
        }

        &__buttons {
            display: flex;
            justify-content: center;
            margin-top: 5 * $gridSize;

            button {
                @extend .cta-button;
                font-size: small;

                p {
                    font-size: 16px;
                    margin: 0 !important;
                    font-weight: 700;
                }
            }

                a {
                    margin-right: 2 * $gridSize;
                    img {
                       height: 7 * $gridSize;
                        width: 100%;
                    }
                }
        }
    }

    &__right-end {
        img {
            animation: moveY 5s ease-in-out infinite;

            @keyframes moveY {
                0% {
                  transform: translateY(0);
                }
                50% {
                  transform: translateY(-20px); 
                }
                100% {
                  transform: translateY(0);
                }
              }
        }
    }
    @media (min-width: $smallScreen) and (max-width: 1024px) {      
        justify-content: center;  
        height: 75 * $gridSize;

        &__left-end {
            &__buttons {
                    a {
                        img {
                           height: 5 * $gridSize;
                            width: 100%;
                        }
                    }
            }
        }

        &__right-end {
            display: none;
        }
    }

    @media (max-width: $xsmallcreen) {
            padding: 5 * $gridSize;
            height: 70 * $gridSize;
            margin: -500px 0 0 0;

            &__left-end {
                &__buttons {
                    &__content {
                        a {
                            img {
                               height: 5 * $gridSize;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            &__right-end {
                display: none;
            }
    }
}
