@import "../../styles/colors.scss";
@import "../../styles/styles.scss";

.navbar-custom {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
  background-color: $color--teal; 
  padding: 2 * $gridSize 7 * $gridSize !important;

  .navbar-header {
    margin-left: $gridSize * 4;
    justify-content: end;
  
    .nav-link {
      color: #fff;

      transition: color 0.3s ease-in-out;
      font-size: 18px;
    }
  }
}

.navbar-custom.scrolled {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
//   .nav-link {
//     color: white;
//   }
}
