@import "../../styles/colors.scss";
@import "../../styles/styles.scss";

.screenshot__scroll {
  z-index: 1000;
  opacity: 1;
}

.carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  @keyframes slidein {
    from {
      transform: translateX(0%);

    }
  
    to {
      transform: translateX(100%);
    }
  }

  &__side {
    transition: all 5s ease;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border-radius: $gridSize * 3.5;
    // transform: translateX(-100%);
    // animation: slidein 5s;

  }

  &__center {
    opacity: 1;
    transform: scale(1);
    transition: all 5s ease;
    border-radius: $gridSize * 2;
    height: 100%;
    width: 100%;
    // transform: translateX(-100%);

  }
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1 !important;
}

.carousel-control-next-icon {
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 7 * $gridSize !important;
  width: 7 * $gridSize !important;
  background-image: url("./../../assets/ArrowNext.png") !important;
  opacity: 1 !important;
}


.carousel-control-prev-icon{
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 7 * $gridSize !important;
  width: 7 * $gridSize !important;
  background-image: url("./../../assets/ArrowBack.png") !important;
  opacity: 1 !important;
  width: 33%;
}

.carousel-indicators li {
  background-color: #958b81;
}

/* Style for the mobile frame */
.mobile-frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 300px;
  background-color: #000;
  border-radius: 40px;
  border: 12px solid #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  // margin-right: 16px;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    height: 4px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 2px;
    z-index: 1;
  }

  &--small {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 250px;
    background-color: #000;
    border-radius: 40px;
    border: 12px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 0 2 * $gridSize;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      height: 4px;
      width: 60px;
      background-color: rgba(0, 0, 0, 0.603);
      border-radius: 2px;
      z-index: 1;
    }

    @media (max-width: $smallScreen) { 
      display: none;
    }
  }

  &--mobile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 300px;
    background-color: #000;
    border-radius: 40px;
    border: 12px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;

    @media (max-width: $xsmallcreen) {
      height: 500px;
      width: 260px;
    }
  }
}

.mobile-view {
  height: 99%;
  width: 98%;
  border-radius: 20px;
}

.carousel-item {
  .active {
    opacity: 1;
  }
}
