.screenshot__scroll {
    z-index: 1000;
    opacity: 1;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #816f5d;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .c-img {
    // position: relative;
    margin-right: 16px;
  }
  
  .c-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #958b81;
    pointer-events: none;
  }
  
  .carousel-indicators li {
    background-color: #958b81;
  }
  
  .carousel-indicators .active {
    background-color: red;
  }
  