@import "../../styles/colors.scss";
@import "../../styles/styles.scss";

#tsparticles {
    height: 80 * $gridSize;
    margin: 0 -64px;

    @media (max-width: $smallScreen) {
        margin: 0;
        height: 600px;
    }
    @media (max-width: $xsmallcreen) {
        margin: 0 -64px;
    }
}  